.ListContianer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 162px;;
  grid-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.listBox {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.listTitleBox {
  width: 100%;
  padding: 26px 20px;
  /* margin-bottom: 17px; */
}
.listTitle {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.listStatus {
  color: rgba(0, 0, 0, 0.85);
}
.listStatusTraining {
  color: var(--color-yellow-text);
  margin-right: 10px;
}
.listStatusFinished {
  color: #52C41A;
  margin-right: 10px;
}
.listBtnBox {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid #F0F0F0;
}
.listBtn {
  width: 276px;
  height: 32px;
  color: var(--color-yellow-text);
  line-height: 30px;
  border: 1px solid var(--tab-bg);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1.6px dashed #ABABAB;
  cursor: pointer;
}

.addBtn .addText {
  color: rgba(0, 0, 0, 0.85);
}
.addIcon {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}
.empty {
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
  color: rgba(0, 0, 0, 0.85);
}