@font-face {
  font-family: 'dinBold';
  src: url('/DIN-BOLD.OTF');
}

* {
  padding: 0;
  margin: 0;
}

.primary-select-dropdown .el-select-dropdown__item.hover {
  background-color: rgba(255, 187, 51, .1);
  color: var(--el-color-primary);
}

.custom-default-btn, .custom-default-btn:focus, .custom-default-btn:hover {
  border-color: var(--el-color-primary);
  background-color: #fff;
  color: var(--el-color-primary);
}
.custom-primary-btn, .custom-primary-btn:focus, .custom-primary-btn:hover {
  border-color: var(--el-color-primary);
  background-color: var(--el-color-primary);
  color: #fff;
}
.el-popper {
  max-width: 600px;
}
.dark.el-popper.is-light {
  border-color: #404E65;
  background-color: #404E65;
}
.dark.el-popper.is-light .el-dropdown-menu {
  background-color: #404E65;
}

.dark.el-popper.is-light .el-popper__arrow::before {
  background-color: #404E65;
  border: unset;
}
.dark .el-dropdown-menu__item:not(.is-disabled):focus {
  background: var(--click-cat-dark-background);
}
.dark .el-dropdown-menu__item {
  color: #fff;
}

.click-cat-dark.el-popper.is-dark {
  background-color: var(--click-cat-dark-background);
}

.click-cat-dark.el-popper.is-dark .el-popper__arrow::before {
  background-color: var(--click-cat-dark-background);
  border-color: var(--click-cat-dark-background);
}