@font-face {
  font-family: 'dinBold';
  src: url('/DIN-BOLD.OTF');
}

* {
  padding: 0;
  margin: 0;
}

.primary-select-dropdown .el-select-dropdown__item.hover {
  background-color: rgba(255, 187, 51, .1);
  color: var(--el-color-primary);
}

.custom-default-btn, .custom-default-btn:focus, .custom-default-btn:hover {
  border-color: var(--el-color-primary);
  background-color: #fff;
  color: var(--el-color-primary);
}
.custom-primary-btn, .custom-primary-btn:focus, .custom-primary-btn:hover {
  border-color: var(--el-color-primary);
  background-color: var(--el-color-primary);
  color: #fff;
}
.el-popper {
  max-width: 600px;
}