.ContextMenu {
  width: 155px;
  background-color: #404E65;
  border-radius: 4px;
  overflow: hidden;

  :global {
    .ant-menu-item:hover, .ant-menu-item-active {
      background-color: #4E5D75;
    }
  }
}