@import 'normalize.css';
@import './reset-defaults.css';
body {
  font-size: 13px;
  background: var(--color-white);
  /* line-height: 1.15; */
  /* color: font-color; */
  /* fill: font-color; */
  -webkit-font-smoothing: antialiased;
}
/* :global(.ReactVirtualized__Grid.ReactVirtualized__List) {
  overflow: -moz-hidde-unscrollable;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
} */

:global(.ReactVirtualized__Grid.ReactVirtualized__List::-webkit-scrollbar) {
  display: none;
}
/* body{
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
} */

:global(#root) {
  height: 100%;
}

:global(#appLoader) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Hide loader if app content loaded */
:global(#root:not(:empty):not(.loading)) + :global(#appLoader) {
  display: none;
}

:global(.ant-tooltip-inner) {
  white-space: pre;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-text: rgb(28, 30, 33);
  --color-yellow-text: #FFB300;
  --color-primary-bg: #10223e;
  --tab-bg: #FFB300;
}

:global(.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab) {
  /* background-color: transparent; */
  border: none;
}

/* :global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active.ant-tabs-tab) {
  background-color: var(--tab-bg);
} */

:global(.ant-tabs > .ant-tabs-nav) {
  margin-bottom: 0;
}

:global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
  height: 36px;
}

/* :global(.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active) {
  color: #fff;
  background: var(--tab-bg);
  border: var(--tab-bg) !important;
} */

:global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  color: #fff;
  height: 26px;
  line-height: 26px;
  font-weight: 400;
}

:global(.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab) {
  position: relative;
  color: rgba(62, 62, 69, 0.65);
  /* background-color: transparent; */
  margin-left: 0 !important;
}

/* :global(.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:after) {
  position: absolute;
  top: 8px;
  right: -1px;
  display: block;
  height: 18px;
  width: 1px;
  background-color: #E3E3E3;
  content: '';
} */

:global(.ant-tabs-tab-remove) {
  color: rgba(62, 62, 69, 0.65);
}

:global(.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before) {
  opacity: 0.3 !important;
}

:global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add) {
  color: rgba(62, 62, 69, 0.65);
  border-color: rgba(217, 217, 217, 0.3);
  background-color: transparent;
  margin-left: 0 !important;
  border: none;
}

:global(.handsontable-dark .handsontable thead th.ht__highlight) {
  background-color: #F0F0F0;
}
:global(.handsontable-dark .handsontable th) {
  background-color: #F0F0F0;
  color: #3E3E45;
}
:global(.handsontable-dark .handsontable th),
:global(.handsontable-dark .handsontable td) {
  border-color: #E4E4E4 !important;
}

:global(.handsontable-dark .handsontable tbody th.ht__highlight),
:global(.handsontable-dark .handsontable td) {
  background-color: #FBFBFB !important;
  color: #525272;
}

:global(.ant-tabs-ink-bar) {
  background-color: var(--tab-bg);
}

:global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
  color: var(--color-black-text) !important;
}

:global(.ant-tabs) {
  color: var(--color-black-text);
}

:global(.ant-empty-description) {
  color: #000;
}

:global(.ant-input) {
  width: 218px;
  height: 32px;
  line-height: 32px;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  border: unset !important;
  box-shadow: unset !important;
}

:global(.ant-btn) {
  background-color: var(--tab-bg);
  border-color: var(--tab-bg);
}
:global(.ant-btn:hover) {
  background-color: var(--tab-bg);
  border-color: var(--tab-bg);
}
:global(.ant-btn:focus) {
  background-color: var(--tab-bg);
  border-color: var(--tab-bg);
}
:global(.ant-btn:active) {
  background-color: var(--tab-bg);
  border-color: var(--tab-bg);
}

:global(.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child) {
  width: 46px;
  height: 32px;
  line-height: 32px;
}
:global(.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button) {
  width: 46px;
  height: 32px;
  line-height: 32px;
}

:global(.ant-tabs-top > .ant-tabs-nav::before) {
  display: none;
}

:global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab) {
  margin-left: 0;
}

:global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add) {
  margin-left: 0;
}

:global(.ant-tabs-tab-remove) {
  color: rgba(0, 0, 0, 0.45);
}

:global(.ant-tabs-tab-remove:hover) {
  color: rgba(0, 0, 0, 0.45);
}

:global(.ant-tabs-tab-active .ant-tabs-tab-remove) {
  color: #fff;
}

:global(.ant-tabs > .ant-tabs-nav) {
  background-color: #F0F0F0;
}

/* :global(.overflow-guard) {
  margin-left: 36px;
  width: calc(100% - 36px) !important;
} */
/* background-image: url('/assets/img/NorthSouth.png'); */
:global(.sql-margin-bottom .Resizer.horizontal) {
  height: 5px;
  z-index: 998;
  background-color: #E2E2E2;
  background-image: none;
}

:global(.sql-margin-bottom .Resizer.horizontal:hover:before) {
  display: block;
}

:global(.sql-margin-bottom .Resizer.horizontal:before) {
  display: none;
  position: absolute;
  width: 12px;
  height: 16px;
  background-image: url('/assets/img/NorthSouth.png');
  background-size: cover;
  border: unset;
}

:global(.ant-form-item-explain-error) {
  color: #f53f3f;
}

:global(.ant-table-cell-scrollbar) {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #e2e2e2;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
}

:global(.ant-modal-mask) {
  z-index: 10000;
}
:global(.ant-modal-wrap) {
  z-index: 10000;
}

:global(.ant-tooltip-inner) {
  background-color: #404E65;
  border-radius: 2px;
}
:global(.ant-tooltip-arrow-content) {
  background-color: #404E65;
}

:global(.ant-select-dropdown.light-dropdown) {
  background-color: #fff;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
}

:global(.ant-select-dropdown.light-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
  color: var(--color-yellow-text);
  background-color: rgba(255, 187, 51, .1);
}

:global(.ant-select-dropdown.light-dropdown .ant-select-item){
  color: rgba(0, 0, 0, 0.85);
}

:global(.ant-select-dropdown.light-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
  color: var(--color-yellow-text);
}

:global(.light-table.ant-table-wrapper .ant-table-thead > tr > th) {
  background-color: #FBFBFB;
  color: #3E3E45;
}

:global(.light-table.ant-table-wrapper .ant-table) {
  background-color: #fff;
  color: #3E3E45;
}

:global(.light-table.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table) {
  border-top: unset;
}

:global(.light-table.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container) {
  border-left: 1px solid rgba(228, 228, 228, 0.5)
  /* border-color: rgba(228, 228, 228, 0.5); */
}

:global(.light-table.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td){
  background-color: #F8F8F8;
}

:global(.light-table.ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover) {
  background-color: #F8F8F8;
}

:global(.light-table.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td){
  background-color: #F8F8F8;
}

:global(.light-table.ant-table-wrapper .ant-checkbox-inner) {
  border-color: #DEDEDE;
  border-radius: 2px;
}

:global(.dark-dropdown.ant-select-dropdown) {
  background-color: #404E65;
  border-radius: 4px;
}

:global(.ant-dropdown.light-dropdown .ant-dropdown-menu) {
  background-color: #fff;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
}

:global(.ant-dropdown.light-dropdown .ant-dropdown-menu-item),
:global(.ant-dropdown.light-dropdown .ant-dropdown-menu-submenu-title) {
  color: rgba(0, 0, 0, 0.85);
}

:global(.ant-dropdown.light-dropdown .ant-dropdown-menu-item:hover) {
  color: var(--color-yellow-text);
  background-color: rgba(255, 187, 51, .1);
}

:global(.editor-tab-page-hot-table thead th) {
  height: 36px !important;
  line-height: 34px;
}

:global(.editor-tab-page-hot-table tbody th) {
  line-height: 34px;
}
:global(.editor-tab-page-hot-table tbody td) {
  line-height: 34px;
}

:global(.ant-select.light-select) {
  color: rgba(0, 0, 0, 0.45);
}

:global(.ant-select.light-select:not(.ant-select-customize-input) .ant-select-selector) {
  border: 1px solid #E4E4E4;
  border-radius: 2px;
}

:global(.ant-select.light-select:not(.ant-select-customize-input) .ant-select-selector:hover) {
  border-color: var(--tab-bg);
}

:global(.light-select .ant-select-arrow) {
  color: rgba(78, 89, 105, .3);
}

:global(.light-select.ant-select-single.ant-select-open .ant-select-selection-item) {
  color: rgba(0, 0, 0, 0.45);
}
:global(.ant-input-number-group-addon .ant-select.light-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector) {
  border: 1px solid #E4E4E4;
}

:global(.light-ant-picker.ant-picker:hover, .ant-picker-focused.light-ant-picker) {
  border-color: #E4E4E4;
}
:global(.ant-picker.light-ant-picker) {
  border-color: #E4E4E4;
}

:global(.ant-picker.light-ant-picker:hover) {
  border-color: var(--tab-bg);
}
:global(.light-ant-picker .ant-picker-input > input) {
  color: rgba(0, 0, 0, 0.85);
}
:global(.ant-picker-range.light-ant-picker .ant-picker-active-bar) {
  background-color: var(--tab-bg);
}

:global(.light-ant-picker .ant-picker-separator) {
  color: #c4c4c4;
}
:global(.ant-picker-focused.light-ant-picker .ant-picker-separator) {
  color: #c4c4c4;
}

:global(.light-clear .ant-picker-suffix) {
  color: #C9C9C9;
}
:global(.light-clear .ant-picker-clear) {
  background-color: #fff;
}
:global(.light-clear .ant-picker-clear:hover) {
  color: #C9C9C9;
}

:global(.light-input-number .ant-input-number-handler-wrap) {
  background-color: #fff;
}
:global(.ant-input-number.light-input-number) {
  background-color: #fff;
  border-color: #E4E4E4;
  color: rgba(0, 0, 0, 0.85);
}
:global(.ant-input-number.light-input-number:hover) {
  border-color: var(--tab-bg);
}
:global(.light-input-number .ant-input-number-group) {
  color: rgba(0, 0, 0, 0.85);
}
:global(.light-input-number .ant-input-number-handler) {
  border-color: #E4E4E4;
  color: rgba(0, 0, 0, 0.85);
}
:global(.light-input-number .ant-input-number-handler-up-inner),
:global(.light-input-number .ant-input-number-handler-down-inner) {
  color: rgba(0, 0, 0, 0.85);
}
:global(.light-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner), 
:global(.light-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner) {
  color: var(--color-yellow-text);
}
:global(.light-input-number .ant-input-number-group-addon) {
  border: unset;
}
:global(.light-input-number .ant-input-number-handler-down) {
  border-color: #E4E4E4;
}

:global(.light-calendar .ant-picker-panel-container) {
  background-color: #fff;
}

:global(.light-calendar .ant-picker-range-arrow::after) {
  border-color: #fff;
}

:global(.light-calendar .ant-picker-cell) {
  color: rgba(0, 0, 0, 0.25);
}

:global(.light-calendar .ant-picker-cell-in-view) {
  color: rgba(0, 0, 0, 0.85);
}

:global(.light-calendar .ant-picker-content th) {
  color: rgba(0, 0, 0, 0.85);
}

:global(.light-calendar .ant-picker-header button) {
  color: rgba(0, 0, 0, 0.85);
}

:global(.light-calendar .ant-picker-header button:hover) {
  color: var(--color-yellow-text);
}

:global(.light-calendar .ant-picker-cell-disabled::before) {
  background-color: #e4e4e4;
}

:global(.light-calendar .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before) {
  background-color: rgba(255, 187, 51, .1);
}
:global(.light-calendar .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before) {
  background-color: rgba(255, 187, 51, .1);
}
:global(.light-calendar .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before) {
  background-color: rgba(255, 187, 51, .1);
}
:global(.light-calendar .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-hover::before) {
  background-color: rgba(255, 187, 51, .1);
}

:global(.light-calendar .ant-picker-cell-inner::after) {
  background-color: rgba(255, 187, 51, .1) !important;
}

:global(.no-img-empty .ant-empty-small .ant-empty-image) {
  display: none;
}

:global(.light-input.ant-input) {
  color: rgba(0, 0, 0, 0.45);
  border: 1px solid #E4E4E4 !important;
  border-radius: 2px;
}



