.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 64px;
  background: var(--color-white);
  width: 100%;
  padding: 0 18px;
  color: var(--color-black-text);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .06);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 36px;
  margin: 0 8px 0 0;
}

.systitle {
  display: inline-block;
  /* width: 132px; */
  padding: 0 20px;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  line-height: 64px;
}

.systitle.logoText {
  width: auto;
  font-size: 24px;
  color: #10223E;
  padding: 0;
}
.systitle.navHover:hover {
  color: var(--color-yellow-text);
  border-bottom: var(--tab-bg) 2px solid;
}

.active {
  color: var(--color-yellow-text);
  border-bottom: var(--tab-bg) 2px solid;
}

.funlist {
  display: flex;
  align-items: center;
}

.funlist span {
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.userInfo {
  color: var(--color-yellow-text);
  cursor: pointer;
}
