.root {
  padding: 0 1em;

  :global {
    .anticon {
      cursor: pointer;
      font-size: 12px;

      &:not(:first-of-type) {
        margin-left: 0.75em;
      }
    }

    .ant-divider-vertical {
      border-color: #e3e3e3;
    }
  }

  .bytesInfo {
    margin-right: 20px;
  }
}

.icon:hover {
  color: var(--color-yellow-text);
}
