.editor {
  height: calc(100% - 32px - 1em);
  :global {
    .decorationsOverviewRuler {
      display: none;
    }
    .minimap {
      display: none;
    }
    .scrollbar > .slider {
      height: 8px !important;
      background: #E2E2E2 !important;
      border-radius: 4px;
    }
  }
}

.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 100%;
  background-color: #F0F0F0;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
}
