.EditorPageTabs {
  :global(.ant-tabs-nav .ant-tabs-tab-active) {
    background-color: var(--tab-bg) !important;
  }
  :global(.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn) {
    color: #fff !important;
  }
}

/* &  {
      
  
  & .ant-tabs-tab-btn {
    color: #fff;
  }
  & .ant-tabs-tab-remove {
    color: #fff;
  }
} */