.countBanner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.number {
  color: #FFB300;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}
.title {
  color: #333;
  font-size: 16px;
  line-height: 16px;
}
.icon {
  height: 50px;
  width: 50px;
}

.dinBoldFont {
  font-family: 'dinBold';
}